body{
    border: 0px;
}
.container{
    max-width: 100%;
    height: auto;
    
}
hr{
    width: "50%";
    margin-left: 50px;
    margin-right: 50px;
    border: 10px solid black;
}
h2{
    margin-top: 0px;
}
p{
    margin-bottom: 0px;
}
.tableClass{
    display: flex;
    flex-direction: row;
    background-color: blue;
}

td,th{
    padding: 20px;
    background-color: aliceblue;
}
.projectheader{
 text-align: center;
}
.project-name{
    text-align: center;
}
.project-description{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.project-link{
    text-align: center;
}
.projectholder{
    max-width: 100%;
    height: auto;
    /*background-color:pink;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    padding-top: 10px;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover{
 color: black;
}
header{
    max-width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}